.shorter-1 {
    background-color: #0b0b0d;
    height: 23rem;
    border-radius: 0 0rem 1rem 1rem;
}
.shorter {
    height: 20rem;
}
.h1-contact {
    font-size: var(--h1);
    width: 39rem;
    color: var(--green);
    text-align: left;
    margin: 0;
}
.get-involved {
    width: 25rem;
    text-align: center;
}
.ways {
    font-size: 10rem;
    color: white;
}
.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    max-width: 80rem;
    padding: 4rem 8rem 0 8rem;
    margin: 0 auto;
}
.contact-oother-pages {
    margin: 0;
}
.sosial-media-contact-container {
    display: flex;
    flex-wrap: nowrap;
}
.sosial-media-contact {
    color: var(--green);
    font-size: 4rem;
    margin-left: 1rem;
}
.center-it {
    align-items: center;
    margin: 0rem auto 4rem auto;
}
.contact-h2 {
    font-size: var(--h2);
    width: 35rem;
}
.flex-input {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 4rem 0;
}
.flex-black {
    background-color: var(--ddd);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.over-txt {
    display: block;
    font-size: 1rem;
    color: var(--www);
}
#message {
    width: 20rem;
    height: 10rem;
    margin-bottom: 2rem;
}
.input {
    width: 16rem;
    height: 1.8rem;
    border: 1.2px var(--green) solid;
    margin: 1rem auto;
    border-radius: 0.2rem;
}
.white-h2 {
    margin-top: 4rem;
    color: var(--www);
}
.up {
    background-color: var(--ddd);
    margin: 0;
}
.make-it-bigger-up:hover {
    color: white;
}
.flex-column-get-involvd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 2rem;
}
.flex-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 60rem;
    gap: 4rem;
}
.get-involved-img {
    width: 13rem;
}
.get-involved-txt {
    max-width: 35rem;
}
.for-involved:hover {
    color: black;
}
.up-involove {
    margin: 0;
}
footer {
    margin: 0;
}
@media only screen and (max-width: 950px) {
    .flex-row {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        padding: 0;
        height: 16rem;
    }
    .shorter {
        height: 15rem;
    }
    .h1-contact {
        font-size: var(--h1-phone);
        max-width: 30rem;
        margin: 0;
    }
    .ways {
        font-size: 7rem;
    }
    .contact-h2 {
        font-size: var(--h2-phone);
        text-align: center;
        max-width: 16rem;
    }
    .center-it {
        justify-content: center;
        gap: 2rem;
        margin: 2rem;
    }
}

@media only screen and (max-width: 700px) {
    .shorter-1 {
        height: 30rem;
    }
    .shorter {
        height: 13rem;
    }
    .flex-row {
        height: 20rem;
    }

    .h1-contact {
        font-size: var(--h2-phone);
        width: 17rem;
        text-align: center;
    }
    .ways {
        font-size: 7rem;
    }
    .flex-input {
        flex-direction: column;
    }
    #message {
        width: 16rem;
        height: 10rem;
    }
    .white-h2 {
        margin: 4rem auto 2rem auto;
        text-align: center;
    }
    .flex-1 {
        flex-direction: column;
    }
    .flex-1:nth-child(2) {
        flex-direction: column-reverse;
    }
}
