
.for-kids-h1,
.for-researches-h1 {
    color: var(--www);
    text-align: center;
}
.ktr-img {
    font-size: 6rem;
}
.flex-ktr {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    margin-top: 1rem;
    text-align: center;
    padding: 1rem;
}
.txt-width {
    max-width: 40rem;
    text-align: center;
}
.bk-pic {
    background: url(../assets/background-pic.png) no-repeat center center;
    width: 100%;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.white-bk {
    background-color: var(--www);
    max-width: 37rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    text-align: center;
    margin: 0.5rem;
}
.black {
    background-color: var(--ddd);
    width: 100%;
    margin: 0;
    padding: 8rem 1rem 2rem 1rem;
}
.main-btn-big {
    margin: 2rem auto auto auto;
    width: 100%;
}
.last-btn-container {
    margin: 0;
}
footer {
    margin: 0;
}
.ktr-img-for-other-pages {
    width: 8rem;
    filter: brightness(200%);
    margin: 0 1rem;
    transition: 0.5s;
}
.ktr-img-for-other-pages:hover {
    filter: none;
}
.main-btn-big {
    transition: 0.5s;
}
.research-logo{
    color: rgb(255, 32, 32);
    margin-top: 1rem;
}
.white-big-btn{
    max-width: 40rem;
}
.white-big-btn:hover {
    background-color: var(--www);
    color: var(--ddd);
}
.main-btn-big-white:hover {
    background-color: var(--ddd);
    color: var(--www);
}
.flex-column {
    justify-content: center;
    margin: 0;
    height: fit-content;
}
.flex-column-container {
    display: flex;
    flex-direction: column;

    align-items: center;
}
.make-it-bigger-up:hover {
    color: var(--ddd);
}
.teacher {
    color: rgb(255, 213, 4);
    margin-top: 1.5rem;
}
@media only screen and (max-width: 950px) {
    .shorter {
        height: 20rem;
    }
    .for-kids-h1 {
        margin-top: 4rem;
    }
}
@media only screen and (max-width: 700px) {
    .shorter {
        height: 18rem;
    }
    .for-kids-h1 {
        margin-top: 2rem;
    }
    .ktr-img-for-other-pages {
        width: 6rem;
    }
    .main-btn-big {
        width: 90%;
    }
}
