@font-face {
    font-family: play;
    src: url(../Font/Play-Bold.ttf);
}
*,
body {
    margin: 0;
    padding: 0;
    display: flexbox;
    overflow-x: hidden;
}
:root {
    --green: #62ff68;
    --www: white;
    --ddd: #0b0b0d;
    --h1: 4.5rem;
    --h1-phone: 4.5rem;
    --h2: 3.5rem;
    --h2-phone: 2.5rem;
}
h1,
h2,
h3,
h3,
p {
    font-family: play, sans-serif;
}
/*header style */
.black-bk {
    position: absolute;
    background: var(--ddd);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    height: 48.5rem;
    width: 120%;
    top: 0;
    left: 0;
    z-index: -1;
    animation: down linear 2s;
}
@keyframes down {
    0% {
        transform: translateY(-1000px);
    }
    50% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(0px);
    }
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin: 2rem auto auto auto;
}
.search-contact-container {
    display: flex;
    margin-right: 3rem;
}
.navigation-btn {
    color: var(--green);
    font-size: 1rem;
    text-decoration: none;
    font-family: "play", sans-serif;
    background-color: var(--ddd);
    margin-right: 1rem;
}
nav:last-child {
    margin-right: 0;
}
.brand {
    font-size: 1.3rem;
    color: var(--green);
}
.make-it-bigger {
    font-size: 2rem;
}
.search-container {
    margin-right: 1rem;
}
.searrch-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: var(--www);
    font-size: 1rem;
    transition: 0.3s;
    line-height: 1.8rem;
    margin-right: -1rem;
    width: 0rem;
}
.search-container:hover > .searrch-txt {
    width: 9rem;
    border-bottom: white 1px solid;
}
.for-phone {
    display: none;
}
.for-logo-and-moon {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    height: 90vh;
}
.moon {
    max-width: 23rem;
    height: auto;
    animation: rotate 17s linear infinite, down 3s linear;
    z-index: -1;
}

@keyframes rotate {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}
.logo {
    width: 17rem;
    margin-left: 1.3rem;
    animation: down linear 2s;
    margin-top: 7rem;
}
/*Section 1 style*/
.explore-section-container {
    margin-top: 2rem;
}
.explore {
    font-size: var(--h2);
    float: right;
    margin-right: 10%;
}

@media only screen and (max-width: 685px) {
    .no-phone,
    .menu-container {
        display: none;
    }
    .for-phone {
        display: block;
    }
    .menu:first-child:checked ~ .menu-container {
        display: block;
        position: absolute;
        width: 100%;
        height: 40%;
        left: 0;
        top: 0;
        margin-top: 4rem;
        background-color: var(--ddd);
    }
    .menu-container > a:first-child {
        margin-top: 3rem;
    }
    .menu-container > a {
        display: block;
        text-align: center;
        margin-top: 0.5rem;
    }
    .menu-btn:hover {
        cursor: pointer;
        filter: brightness(120%);
    }
    .search-container-for-phone {
        display: inline-block;
        position: absolute;
        top: 0;
        right: auto;
        left: 50%;
        transform: translateX(-50%);
    }
    .searrch-txt {
        width: auto;
    }
    .search-container:hover > .searrch-txt {
        width: auto;
        border-bottom: white 1px solid;
    }
    nav {
        margin: 2rem 4rem auto 4rem;
        justify-content: space-between;
    }
    .search-contact-container {
        margin: 0;
    }
    .for-logo-and-moon {
        margin-top: 1rem;
    }
    .moon {
        width: 23rem;
    }
    .logo {
        width: 12rem;
        margin-right: 6rem;
        margin-top: 0;
    }
    .explore-section-container {
    }
    .explore {
        font-size: var(--h2-phone);
    }
}
